/*
	 CSS-Tricks Example
	 by Chris Coyier
	 http://css-tricks.com
*/

* { margin: 0; padding: 0; }
html { background: #dfdfdf; }
body { 
	font: 14px Georgia, serif; 
	background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #dfdfdf),color-stop(1, #dfdfdf));
	background-repeat: no-repeat;
	min-height: 350px;
	
}
.max-slider{
    width:225px
}
#page-wrap { width: 470px; margin: 0 auto; padding-top: 300px; }

#well {
	padding:10px;
	border-radius: 100px;
	
	background: -moz-linear-gradient(top, #d4d4d4, #d4d4d4);
	background: -webkit-gradient(linear,left top,left bottom,color-stop(0, #d4d4d4),color-stop(1, #d4d4d4));
	
	/* border: 2px solid #454545;  */
	overflow: hidden; 
	
	-webkit-user-select: none;
}

h2 {
  background: -moz-linear-gradient(left, #4d4d4d, 0.4, #4d4d4d, 0.5, white, 0.6, #4d4d4d, #4d4d4d); 
  background: -webkit-gradient(linear,left top,right top,color-stop(0, #4d4d4d),color-stop(0.4, #4d4d4d),color-stop(0.5, white),color-stop(0.6, #4d4d4d),color-stop(1, #4d4d4d)); 
  
  -moz-background-clip: text;
  -webkit-background-clip: text;
  
  -moz-text-fill-color: transparent;
  -webkit-text-fill-color: transparent;
  
  -webkit-animation: slidetounlock 5s infinite;
  
  font-size: 80px;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
  
  padding: 0;
  width: 200%;
  
  -webkit-text-size-adjust: none;
}
#slider {
    background-color: black;
    border-radius: 50%;
    /* background-size: cover; */
    filter:invert(1);
    width: 150px;
	height: 150px;
	display: inline-block;
	vertical-align: middle;
	line-height: 1;
}

@-webkit-keyframes slidetounlock {
	0% {
		background-position: -720px 0;
	}
	100%{
		background-position: 720px 0;
	}
}
.airplane{
	font-family: Helvetica;
	font-size: 50px;
	text-align: center;
	position: relative;
	bottom:30px;
	white-space: nowrap;
}